## Shortcuts
See `Help > Show Keyboard Shortcuts` for a useful selection of shortcuts

## Edit mode
Command-line completion: Automatically fill partially typed commands/variables by pressing `Tab`  
Append `?` to display documentation of a module/function

In [1]:
stdddddddd

Init signature: str(self, /, *args, **kwargs)
Docstring:
str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.
Type:           type
Subclasses:     DeferredConfigString, _rstr, LSString, include, Keys, InputMode, ColorDepth, CompleteStyle, SortKey

In [2]:
# get a list of an object's attributes
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Variables and data types

In Python we're dealing with objects. Each object has a data type. 

Some basic data types in Python: 

| data type | description | examples |
| ---- | ---- | ---- |
| int | integer, a whole number with no decimal place | 10, -3 |
| float | a number with fractional part | 7.3, -0.0041 |
| str | string, sequence of characters surrounded by quotation marks | 'hello', "hello" |
| bool | boolean, a binary value that is either true or false | True, False |

In [3]:
# this is a comment

print("Hello World")    # "print" function to print the given object

Hello World

In [4]:
# Python can act as a calculator
print(5 + 3)         
print(80.1 - 7.5)
print(3.5 * 4)
print(2 ** 3)         # 2 to the power of 3
print(6 / 3)          # classic division returns float
print(17 // 3)        # floor division discards fractional part
print(17 % 3)         # modulo operator returns remainder of division

8
72.6
14.0
8
2.0
5
2

In [5]:
# examples for str
print('I am a string in single quotes')
print("I am a string in double quotes")

# strings can be concatenated with +
print("hel" + "lo")

# strings can be repeated with *
print(5 * "ha")

print(5 * "Na " + "Batman")

# new line with \n
print("This sentence \ncontinues in the next line")

I am a string in single quotes
I am a string in double quotes
hello
hahahahaha
Na Na Na Na Na Batman
This sentence
continues in the next line

In [6]:
# use the equal sign (=) to assign data values to a variable
a = 'I am stored in variable a'
b = 2

 ## Syntax and Naming Convention
 
 * __Variable names__ contain 
    * alphanumerical characters `a-z`, `A-Z`, `0-9` 
    * some special characters such as `_`. 
   

 * __ Convention __ 
     * variable names start with a lower-case letter
     * Class names start with a capital letter. 
     * **Visible variable** names must start with a letter. 
     * **Hidden variables** and class variables start with a double underscore`__`
     * http://www.python.org/dev/peps/pep-0008 - Style guide for Python programming
     

 * __Python keywords__ not usable as variable names:
 
 
    and, as, assert, break, class, continue, def, del, elif, else, except, 
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

In [ ]:
# if not assigned a value, variables are undefined
c

In [7]:
x = 3
y = 5
z = y + 2
u = x + y

print(z)
print(u)
print(a)

7
8
I am stored in variable a

In [8]:
x = 1
y = 10

# increment, then reassign
x = x + 1
# or shorter
y += 1

print(x)
print(y)

2
11

In [9]:
# we can check the type of a variable with the "type" function
x = 3
y = 4.0
z = "hello, it's me"

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

### Python's Type system is dynamic, implicit and strong.

In [ ]:
# type determined dynamically on assignment
my_int = 5
my_str = "hello world"

The type is derived from the value it was assigned (duck-typing)
> If it walks like a duck, swims like a duck, and quacks like a duck, then it probably is a duck.

In [ ]:
type(my_int)

In [10]:
# remember, the + operator is overloaded
print("a" + "b")     # string concatenation
print(5 + 4)         # addition

ab
9

In [11]:
# Python is strongly typed
x = "5"
y = 2
print(x + y)

TypeError: can only concatenate str (not "int") to str

In [12]:
# type conversion from int to string
a = str(y)
print(x + a) 

# type conversion from string to int
z = int(x)
print(z + y)

# sometimes you want to write a nice sentence that includes a number
print("The result of the computation is: " + str(5.5))
print("The result of the computation is: {}".format(5.5))
print("The {name} of the computation is: {value}".format(name="result",value=5.5))
print("The result of the computation is: {}".format(5.555555))
print("The result of the computation is: {:.2f}".format(5.555555))

52
7
The result of the computation is: 5.5
The result of the computation is: 5.5
The result of the computation is: 5.5
The result of the computation is: 5.555555
The result of the computation is: 5.56

## Relational operators
Some relational operators:

| Symbol | Task Performed |
|----|---|
| == | True, if both sides are equal |
| !=  | True, if both sides are not equal |
| < |True, if the left side is smaller |
| > | True, if the left side is greater |
| <=  | True, if the left side is smaller or equal to the right side |
| >=  | True, if the left side is greater or equal to the right side |

In [13]:
# relational operators return boolean values
x = 5
y = 2
x < y

False

In [14]:
x = 5     # this is variable assignment
x == 5    # this is a comparison

True

In [15]:
x = x == 5
# what is x?
x

True

In [16]:
x = 5
y = "5"
z = 5.0

print(x == y)
print(x == z)

False
True

In [17]:
# the "len" function returns the length of any iterable object 
len("jsdnfosdfo")

10

In [18]:
# int is not an iterable object
len(54)

TypeError: object of type 'int' has no len()

In [19]:
x = 667765
len(str(x))

6

# Data structures

## Lists
Lists are a collection of objects. Lists are *ordered*, *mutable* and *allow duplicates*.

In [20]:
#creating an empty list
l = []

Note: lowercase letter l and uppercase letter O are to be avoided as variable names, as in some fonts they are hard to distinguish from numbers 1 and 0.
```
l vs. 1
O vs. 0
```
We make an exception here, as from context it is clear that we use the letter l.

In [21]:
# adding elements to the list
l.append (2)
l.append (5)
l.append (10)
l

[2, 5, 10]

In [22]:
# manually define a list
l = [2, 5, 10, 12, 15, 16, 18]

In [23]:
# access elements by index
print(l[0])    # index always start at 0
print(l[1])
print(l[4])

2
5
15

In [ ]:
print(l[-1])   # last element
print(l[-3])   # third last element

In [24]:
# slicing: list[start:stop:step] - return elements from index 'start' to index 'stop'-1 
# with increments of 'step' (default: 1)
l[2:5]    # elements at index 2, 3, 4

[10, 12, 15]

In [ ]:
l

In [25]:
l[1:6:2]    # elements at index 1, 3, 5

[5, 12, 16]

In [26]:
# setting an element 
l[2] = 7.3
l

[2, 5, 7.3, 12, 15, 16, 18]

In [27]:
# the length of a list
len(l)

7

In [28]:
# taking an element from the list
print(l)
print(l.pop(2))
print(l)

[2, 5, 7.3, 12, 15, 16, 18]
7.3
[2, 5, 12, 15, 16, 18]

In [29]:
# by default the last element is removed
print(l.pop())
print(l)

18
[2, 5, 12, 15, 16]

In [30]:
# list of lists
lol = [[1,2,3],[4,5,6]]
lol[0]

[1, 2, 3]

In [31]:
# what's the result?
lol[0][1]

2

In [32]:
# take last element from the list
print(lol)
x = lol.pop()
print(x)
print(lol)

[[1, 2, 3], [4, 5, 6]]
[4, 5, 6]
[[1, 2, 3]]

In [33]:
# a list with integer objects
list_2 = [3,5,7,9]

# a list of strings
list_3 = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

# a list of mixed types
list_4 = [2, 5, "Elephant", 6, 8.2, True]

In [34]:
# another list of lists
lol_2 = [[1,2,3], ["a","b","c"], [1.2,2.3,4.5,6.7,8.9]]

In [35]:
#the length of this list:
len(lol_2[2])

5

In [36]:
# what's the result?
lol_2[1][2]

'c'

## Tuples

Tuples are just the same as lists, but are *immutable*.

In [37]:
# define tuple
t = (1,2,3,1)

In [38]:
# length of tuple
len(t)

4

In [39]:
# return element at index 
t[1]

2

In [40]:
# immutable, we can't change them
t[1] = 5

TypeError: 'tuple' object does not support item assignment

In [41]:
t = ("apple", "orange", "banana")

In [42]:
# unpack tuple
a,b,c = t
b

'orange'

## Sets

Sets are *unindexed*, which means they can contain each element only once.

In [43]:
# create empty set
s = set()
s

set()

In [44]:
# add elements
s.add(50)
s.add(20)
s.add(10)
s.add(20)
s

{10, 20, 50}

In [45]:
# lists can contain duplicates
l = [2,3,4,5,6,2,3,4,5,2]    
# sets don't
s = set(l)
s

{2, 3, 4, 5, 6}

In [ ]:
l

In [46]:
# convert back to list
list(s)

[2, 3, 4, 5, 6]

## Dictionaries

 Python’s built-in mapping type. They map *keys* to *values*, which can be any type.

In [47]:
# create empyt dictionary with constructor
d1 = dict()
# or with curly braces
d2 = {}

print(d1)
print(d2)

{}
{}

In [48]:
# create dictionary with key:value pairs
presidents_inauguration = {}
presidents_inauguration['Trump'] = 2017 
presidents_inauguration['Obama'] = 2009
presidents_inauguration['Bush'] = 2001
print(presidents_inauguration)

{'Trump': 2017, 'Obama': 2009, 'Bush': 2001}

In [49]:
# or, shorter:
presidents_inauguration = {'Trump': 2017, 
                           'Obama': 2009, 
                           'Bush': 2001}
print(presidents_inauguration)

{'Trump': 2017, 'Obama': 2009, 'Bush': 2001}

In [50]:
# access value by key
presidents_inauguration ["Trump"]

2017

In [51]:
# return all keys
print(presidents_inauguration.keys())
# return all values
print(presidents_inauguration.values())

dict_keys(['Trump', 'Obama', 'Bush'])
dict_values([2017, 2009, 2001])

In [52]:
# number of key:value pairs
len(presidents_inauguration)

3

# Control statements

control flow in Python noticeable does not use ANY (,),[,],{,},...
Instead *indendation* determines what belongs to block of commands

## If-elif-else

In [53]:
# simple if statement
x = 10
if x > 5:
    # the indented code is only executed if the condition is True
    print ('This is a big number!')

This is a big number!

In [54]:
# note the difference
x = 0
y = 0
if x > 5:
    x = x + 1
    y = y + 1
print (y)

x = 0
y = 0
if x > 5:
    x = x + 1
y = y + 1
print (y)

0
1

In [55]:
# if - elif (= else if) - else
x = 15
if x > 20:
    print('This is a very big number!')
elif x > 10:
    print('This is a big number!')
else:
    print('This is a small number!')

This is a big number!

In [56]:
x = 10
command = 'increment'
if command =='increment':
    x = x + 1
print(x)

11

## Loops
Python provides two primitive loop commands:
- for loops
- while loops

In [57]:
# for loops iterate over a sequence
first_names = ['John', 'Paul', 'George', 'Ringo']
for name in first_names:
    # code inside the loop must be indented
    print("Hello " + name + "!")

Hello John!
Hello Paul!
Hello George!
Hello Ringo!

Contrary to many other programming languages there is no built-in for... counting loop.
However, you can use the range function:

In [58]:
# range(min, max, step) - all numbers from 'min' to 'max'-1 with increments of 'step' (default: 1)

r = range(3, 7)    # includes 3, 4, 5 and 6

print(r)
print(list(r))

range(3, 7)
[3, 4, 5, 6]

In [59]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [60]:
# starts at 0 by default
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# different step size
for x in range(10,25,5):
    print (x)

In [ ]:
# we can loop over any iterable, e.g. strings
x = "example"
for letter in x:
    print (letter)

In [ ]:
first_names

In [61]:
# enumerate is a useful convenience function
for index, name in enumerate(first_names):
    print("Name "+ str(index) + ": " + name)

Name 0: John
Name 1: Paul
Name 2: George
Name 3: Ringo

In [62]:
# let's create a dictionary, which maps each string in a list to its length:
name_lengths = {}
for name in first_names:
    name_lengths[name] = len(name)

print(name_lengths)

{'John': 4, 'Paul': 4, 'George': 6, 'Ringo': 5}

In [63]:
# while loops are exectuted as long as the loop condition is True
x = 1
while x < 100:
    x = x * 2
    print(x)

2
4
8
16
32
64
128

# Functions

A function is a block of code which is only executed when it is called. Functions can be passed data, so-called parameters. They can return data as a result.

In [64]:
# len() is a built-in function
l = ["Alice", "Bob", "Eve", "Mallory", "Trent"]
len(l)

5

In [65]:
# we can define our own function with one parameter
def print_all_names(names): 
    # code inside the function must be indented
    for x in names:
        print (x)

In [66]:
# call the function and pass one argument
print_all_names(l)

Alice
Bob
Eve
Mallory
Trent

In [67]:
# functions can return data
def increment_function(x):
    return (x, x+1)

In [68]:
# call the function and save the return value in a variable
y = increment_function(5)
print(y)

(5, 6)

In [69]:
# unpack the return value
old, new = increment_function(5)
print(old)
print(new)

5
6

In [70]:
def my_division (nominator,denominator):
    return nominator / denominator

# we can use the parameter names in the function call
print(my_division(12,4))
print(my_division(denominator=4, nominator=12))

3.0
3.0

In [71]:
# we can also specify default parameters for a function
def my_division (nominator, denominator=2):
    return nominator / denominator

print(my_division(12))
print(my_division(12,3))

6.0
4.0

In [72]:
# variable definitions in functions are local and can only be used inside the function
y = 5
x = 2

def increment_value (x):
    y = x + 1
    return y

print(increment_value(3))
print(y)

4
5

Lambda functions are small, anonymous functions, with a more restricted, but more concise syntax (lambda *arguments : expression*), e.g.:

In [73]:
# instead of
def f2(x):
    return x*5 + 1

# we can define a lambda function
f1 = lambda x: x*5 + 1

In [74]:
print(f1(10))
print(f2(10))

51
51

In [75]:
type(f1)

function

# Imports

Python has a lot of built-in packages you can use, or you can download and install more packages from the internet.
Using such packages is easy:

In [76]:
# simply use the import statement followed by the name of the package
import statistics

statistics.mean([3,5,7,9])

6

In [77]:
# we can also import only single fuctions from a package
from math import log

log(2.7183)

1.0000066849139877

In [78]:
mean([3,5,7,9])

NameError: name 'mean' is not defined

# List Comprehension

In [79]:
# for-loop vs list comprehension
my_list = [2,6,5,4,66,9]

l2 = []
for x in my_list:
    l2.append(2*x) 
    
# list comprehension
l3 = [2*x for x in my_list]

print(l2)
print(l3)

[4, 12, 10, 8, 132, 18]
[4, 12, 10, 8, 132, 18]

list comprehension is faster!

In [80]:
long_list = [i for i in range(10 ** 7)]

In [81]:
%%time
l2 = []
for x in long_list:
    l2.append(2*x)

CPU times: user 452 ms, sys: 35.7 ms, total: 487 ms
Wall time: 489 ms

In [82]:
%%time
l3 = [2*x for x in long_list]

CPU times: user 162 ms, sys: 30.6 ms, total: 193 ms
Wall time: 195 ms

In [85]:
# we can also use if- statements in list comprehension
my_list = [2,6,5,4,66,9,100,55,4,6,4,2]

new_list = [len(str(x)) for x in my_list if x > 20]
new_list

[2, 3, 2]

In [86]:
# this is the same as the following 
loop_list = []
for x in my_list:
    if x > 20:
        loop_list.append(len(str(x)))

loop_list

[2, 3, 2]

# Exceptions

In [87]:
def to_int(x):
    return int(x)

In [88]:
to_int("5")

5

In [89]:
to_int("5.5")

ValueError: invalid literal for int() with base 10: '5.5'

In [90]:
def to_int_safe (x):
    try:
        # test a block of code for errors
        z = int(x)
    except:
        # handle the error
        print("We cannot convert everything like this!")
        z = -1
    return z

In [91]:
to_int_safe("5.5")

We cannot convert everything like this!

-1

# File Handling

In [92]:
!ls

00_intro_python_full_examples.ipynb example2.txt
01_basics_in_python_solution.ipynb  ftest.txt
01_basics_in_python_tasks.ipynb     session_2.R
example1.txt

In [93]:
!cat example1.txt

this the first line
    this is the second line
this is the third line
  this is the fourth line

In [94]:
# file in same folder as notebook or specify path
with open("example1.txt", "r") as f:    # "r" = open for reading only
    for line in f:
        print(line)

this the first line

    this is the second line

this is the third line

  this is the fourth line

In [ ]:
with open("example1.txt", "r") as f:
    for line in f:
        print(line.strip())    # removes leading and trailing spaces

In [95]:
!cp example1.txt example2.txt

In [96]:
!cat example2.txt

this the first line
    this is the second line
this is the third line
  this is the fourth line

In [97]:
with open("example2.txt", "a") as f:    # "a" = append at the end
    f.write("\nThis line gets appended separately.\n")

In [98]:
!cat example2.txt

this the first line
    this is the second line
this is the third line
  this is the fourth line
This line gets appended separately.

In [99]:
my_list = ["a", "bc", "de"]

with open("example2.txt", "w") as f:    # "w" = open for (over)writing
    for element in my_list:
        f.write (element + "\n")

In [100]:
!cat example2.txt

a
bc
de

# Terminal crash courses
- https://tildesites.bowdoin.edu/~sbarker/unix/
- https://www.csoft.net/docs/course.html

# Acknowledgement
This notebook is based on a notebook by Marlene Lutz.